    <!-- Custom CSS -->
    <%= stylesheet_link_tag "pages" %>

<p id="notice"><%= notice %></p>
<div class="post-content">

<h1>New Guest</h1>

<%= render 'form', guest: @guest %>

<%= link_to 'Back', guests_path %>


